@media (max-width: 768px) {
    #nav-links {
        display: none; /* Hide nav links by default on small screens */
        flex-direction: column; /* Stack links vertically */
        position: absolute;
        top: 60px; /* Adjust based on nav height */
        left: 0;
        right: 0;
        background-color: white; /* Background color for the dropdown */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
    }

    #nav-links.show {
        display: flex; /* Show links when toggled */
    }
}

body {
    padding-top: 80px; /* Adjust this value based on the height of your nav */
}

ul {
    font-family: 'Baloo', cursive;
}


 

.fixed {
    position: fixed;
    top: 0;
    z-index: 50; /* Ensure it appears above other content */
    background-color: white; /* Change as needed */
    width: 100%; /* Ensure it takes the full width */
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
}

.card:hover {
    transform: scale(1.05) rotate(2deg); /* Scale and rotate effect on hover */
    /* Enhanced shadow effect */
}

.card-container {
    display: flex;
    justify-content: center; /* Center the cards horizontally */
    align-items: center; /* Center the cards vertically if needed */
    gap: 20px; /* Adjust gap between cards as necessary */
}
